.following-user {
  padding: 1rem;
  background-color: var(--color-foreground);

  img {
    width: 3rem;
    height: 3rem;
  }

  &,
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info {
    gap: 1rem;
  }
}
