.form {
  background-color: var(--color-middleground);

  &.container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h1 {
    margin: 1rem 0;
  }

  &-inline {
    display: flex;
    margin-top: 1rem;

    &.center {
      align-items: center;
    }

    &.apart {
      justify-content: space-between;
    }

    &.gap16 {
      gap: 1rem;
    }
  }

  &-alt-text {
    margin: 2rem 0 1.5rem 0;
  }

  .submit-btn {
    margin: 2rem 0 1rem 0;
  }
}
