.form {
  background-color: var(--color-middleground);

  &.container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h1 {
    margin: 1rem 0;
  }

  p {
    margin-bottom: 0.75rem;
  }

  &-inline-heading {
    display: flex;
    margin-top: 1rem;

    &.center {
      align-items: center;
    }

    &.apart {
      justify-content: space-between;
    }
  }

  .submit-btn {
    margin: 2rem 0 1rem 0;
  }
}
