.spinner {
  display: block;
  width: 60px;
  height: 60px;
  border: 3px solid transparent;
  border-top: 3px solid var(--color-primary);
  border-left: 3px solid var(--color-primary);
  border-radius: 50%;
  animation: spin 1.3s linear infinite;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
