.video-notification {
  display: flex;
  text-decoration: none;
  gap: 1rem;

  &-channel-image,
  &-video-thumbnail {
    object-fit: cover;
    flex-shrink: 0;
  }

  &-channel-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  &-video-thumbnail {
    width: 5.5rem;
    height: 3.5rem;
  }

  &-channel {
    margin: .5rem 0 .4rem 0;
  }

  &-title,
  &-channel,
  &-time {
    display: block;
    line-height: 1.125rem;
  }

  &-content {
    flex-basis: 1;
  }

  &-channel-name {
    margin: 0.5rem 0 0.1rem 0;
  }
}
