.video-card {
  display: block;

  background-color: var(--color-foreground);

  text-decoration: none;

  &-thumbnail {
    height: 100%;
    width: 100%;

    &-container {
      position: relative;
      height: 200px;
    }
  }

  &-duration {
    position: absolute;
    background-color: black;
    padding: 0 .3rem;
    bottom: 8px;
    right: 8px;
    color: white;
  }

  &-content {
    display: flex;
    padding: 1rem;
    gap: 1rem;

    & .image {
      width: 2.5rem;
      height: 2.5rem;
    }

    & h3 {
      margin-bottom: 0.5rem;
      line-height: 1.4rem;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

// Desktop and up
@media only screen and (min-width: $mobile-max-screen-width) {
  .video-card {
    max-width: 380px;

    &-thumbnail-container {
      height: 180px;
    }
  }
}
