.title {
  color: var(--color-text);
  font-weight: 400;

  &-brand {
    @extend .title;
    font-weight: 400;
  }

  &--12 {
    @extend .title;
    font-size: 0.75rem;
  }

  &--14 {
    @extend .title;
    font-size: 0.875rem;
  }

  &--16 {
    @extend .title;
    font-size: 1rem;
  }

  &--18 {
    @extend .title;
    font-size: 1.125rem;
  }

  &--24 {
    @extend .title;
    font-size: 1.5rem;
  }

  &.bold {
    font-weight: 800;
    letter-spacing: 0.025rem;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.dim {
    color: var(--color-text-dim);
  }

  &.text-center {
    text-align: center;
  }
}
